@import url("https://fonts.googleapis.com/css2?family=Poppins.wght:@400,600&display=swap");

*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    display: flex;
}
.sidebar{
    position: sticky;
    top: 0;
    left: 0;
    bottom: 0;
    width: 110px;
    height: 100vh;
    padding: 0 1.7rem;
    color: #000;
    overflow: hidden;
    transition: all 0.5s linear;
    background: rgb(255, 80, 32);
}
.sidebar:hover{
    width: 240px;
    transition: 0.5s;  
}
.logo{
    height: 80px;
    padding: 16px;
}
.menu{
    height: 88%;
    position: relative;
    list-style: none;
    padding: 0;
}
.menu li {
    padding: 1rem;
    margin: 8px 0;
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
}
.menu li:hover, .active{
    background: #e0e0e058;
}
.menu a{
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.menu a span{
    overflow: hidden;
}
.menu a i{
    font-size: 1.2rem;
}
.logout{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

/* body */
.main-content{
    position: relative;
    background: #ebe9e9;
    width: 100%;
    padding: 1rem;
}
.header-wrapper img{
    width: 170px;
    height: 30px;
    cursor: pointer;
    /* border-radius: 50%; */
}
.header-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background: #fff;
    border-radius: 10px;
    padding: 10px 2rem;
    margin-bottom: 1rem;
}
.header-title{
    color: #000;
}
.user-info{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.search-box{
    background: rgb(237, 237, 237);
    border-radius: 8px;
    color: rgba(113, 99, 186, 255);
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 4px 8px;
}
.search-box input{
    background: transparent;
    padding: 3px;
    border: none;
}
.search-box{
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.5s ease-out;
}
.search-box i:hover{
    transform: scale(1.2);
}

/* table box */
.card-container{
    margin-top: 20px;
    text-transform: capitalize;
}
.card-wrapper{
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background: #fcedd3;
    border-radius: 10px;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}
.main-card{
    display: flex;
    margin-top: 20px;
}
.main-card .card{
    width: 25%;
    height: 25%;
    margin: 10px;
    background: #fff;
    text-align: center;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}
.data{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 15px;
    min-width: 100%;
    overflow: hidden;
    border-radius: 5px 5px 0 0;
}
table th{
    color: #fff;
    background: rgb(247, 102, 62);
    text-align: center;
    font-weight: bold;
}
.data tr, .data th{
    padding: 12px, 15px;
}